.indexList{
    background-color: #141414;
    color: #ffffff;
}
.indexList li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.indexList li:hover {
    color:#141414;
    background-color:white;
}
.indexList_active{
    color:#141414;
    background-color:white;
}
body{
    background:url(/images/background.jpg) no-repeat;
    background-size:cover;
}
.record-title{
    margin-top: 40px;
    text-align: center;
    font-size: 45px;
    color: #010101;
    line-height: 70px;
    font-weight: bold;
}
.record-box{
    background-color: #eee;
    border-radius: 20px;
    padding: 16px;
    min-height: 383px;
    height: auto;
    margin-top: 40px;
}
.record-img{
    border: #d9d9d9 solid 1px;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    display: block;
    border-radius: 20px; 
    cursor: pointer;
}
.record-box-title{
    text-align: center;
    color: #000;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 6px;
}
.record-box-text{
    padding-top:20px;
    font-size: 20px;
    color: #333;
    line-height: 22px;
    margin-top: 5px;
}
.select{
    width:20px;
    height:20px;
}
#totalPrice{
    width: 150px;
}
.vip-btn{
    text-align: center;
    height: 80px;
    width:100%;
    margin: 50px 0;
}
.vip-wx{
    display: inline-block;
    padding-left: 40px;
    height: 60px;
    line-height: 55px;
    color: #19b81d;
    position: relative;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    background: url(/images/vip-wx.png) no-repeat left;
    background-position: 15px 15px;
    cursor: pointer;
    background-color: white;
}
.vip-zfb{
    display: inline-block;
    padding-left: 40px;
    height: 60px;
    line-height: 55px;
    color: #1aa1e6;
    position: relative;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    background: url(/images/vip-zfb.png) no-repeat left;
    background-position: 15px 15px;
    cursor: pointer;
    background-color: white;
}
.vip-wx-on{
    border:2px solid #19b81d;
}
.vip-zfb-on{
    border:2px solid #1aa1e6;
}
#pay{
    width: 230px;
    line-height: 40px;
    height: 46px;
    background: #38b549;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
}