ul{
    list-style: none;
    padding-left:10%;
    padding-right:10%;
}
a{
    text-decoration:none;
    outline: none;
    color: inherit;
}
.indexList{
    background-color: #141414;
    color: #ffffff;
}
.indexList li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.indexList li:hover {
    color:#141414;
    background-color:white;
}
.indexList_active{
    color:#141414;
    background-color:white;
}
#leftTopNews{
    /* background-color: hotpink; */
    height:400px;
    float: left;
    
}
#rightNews{
    /* background-color: indigo; */
    height:800px;
    float: right;
}
#leftFootNews{
    /* background-color: lightskyblue; */
    height: 400px;
    float: left;
}
.news{
    transition:transform 0.5s;
    cursor: pointer;
}
.news:hover{
    transform:scale(1.2);
}
.trust{
    margin-top: 150px;
    background-color: #EDF1F2;
    width: 100%;
    height: 400px;
}
.trust-title{
    padding-top: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}
.trust-content{
    width: 80%;
    background-color: red;
    margin: auto;
}
#content {
	background: url(/images/news-bg.png) no-repeat top center;
	min-height: 174px;
    width: 100%;
    padding-top: 150px;
    margin-top: 30px;
}

#content div {
	background: #fff;
	margin: 10px auto 20px;
    padding: 30px;
    width: 880px;
}

#content p{
    font-size: 13px;
}

#content div div {
	margin: 0;
	padding: 0 0 30px;
	width: auto;
}

#content div div.first {
	margin: 0 0 25px 0;
}

#content div div h2 {
	color: #375675;
	font-weight: bold;
	padding-top: 10px;
}

.trust{
    margin-top: 150px;
    background-color: #EDF1F2;
    width: 100%;
    height: 400px;
}
.trust-title{
    padding-top: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
}
.trust-content{
    width: 80%;
    background-color: red;
    margin: auto;
}